In [28]:
import numpy as np

#i import pandas for data anlysis and manipulations
import pandas as pd

#matplotlib library for plotting 2D graphics
import matplotlib.pyplot as plt

In [29]:
# loading the datasest

df = pd.read_sas("bs04retail.sas7bdat")
df

   Store   Con1   Con2
0    1.0  141.0  118.0
1    2.0  184.0  167.0
2    3.0  132.0  137.0
3    4.0  161.0  168.0
4    5.0  176.0  175.0
5    6.0  196.0  197.0
6    7.0  169.0  143.0
7    8.0  199.0  169.0
8    9.0  150.0  123.0
9   10.0  218.0  197.0

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   10 non-null     float64
 1   Con1    10 non-null     float64
 2   Con2    10 non-null     float64
dtypes: float64(3)
memory usage: 372.0 bytes

In [31]:
df['Store'] = df['Store'].astype(int)
df.head()

   Store   Con1   Con2
0      1  141.0  118.0
1      2  184.0  167.0
2      3  132.0  137.0
3      4  161.0  168.0
4      5  176.0  175.0

In [32]:
df.isnull()

   Store   Con1   Con2
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False
5  False  False  False
6  False  False  False
7  False  False  False
8  False  False  False
9  False  False  False

# Building the Hypothesis Testing system

In [36]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind, ttest_1samp

#Initialize the Hypothesis class
class Hypothesis:
    def __init__(self, df):
        self.df = df
        
        # one tail test method
    def one_tailed_test(self, item, alpha=0.05):
        try:
            df_item = np.array(self.df[item])
            mean_difference = None
            correlation = None
            t_stat, pvalue = ttest_1samp(df_item, alpha)
            
            if pvalue <= alpha and t_stat > 0:
                result = f"\n since p_value = {pvalue:.9f} <= {alpha} and {t_stat:.4f} > 0, we Reject the null hypothesis. There is a significant positive difference in {item}."
                
            else:
                result = f"\n since p_value = {pvalue:.9f} > {alpha}, there's no sufficient evidence to reject the null hypothesis H0. There is no significant difference in {item}."
                

            return result, t_stat, pvalue, mean_difference, correlation

        except KeyError as e:
            return f"Error: The item {e} not found in the DataFrame. Please enter a valid item name."

        except Exception as e:
            return f"Error: An unexpected error occurred. Details: {str(e)}"
        
        # two tail test method
    def two_tailed_test(self, item1, item2, alpha=0.05):
        try:
            df_item1 = np.array(self.df[item1])
            df_item2 = np.array(self.df[item2])
            
            t_stat, pvalue = ttest_ind(df_item1, df_item2, equal_var=False)  # Using Welch's t-test
            mean_difference = df_item1.mean() - df_item2.mean()
            correlation = np.corrcoef(df_item1, df_item2)[0, 1]
            
            
            if pvalue <= alpha:
                result = f"\nsince p_value = {pvalue:.4f} <= {alpha}, we Reject the null hypothesis. There is a significant difference between {item1} and {item2}."
                
            else:
                result = f"\nsince p_value = {pvalue:.4f} > {alpha}, we cannot reject the null hypothesis H0. There is no significant difference between {item1} and {item2}. hence, the data does not provide enough evidence to support the claim that there is a significant difference between the two items"
                

            return result, t_stat, pvalue, mean_difference, correlation

        except KeyError as e:
            return f"Error: One or both items {e} not found in the DataFrame. Please enter valid item names."
        

        except Exception as e:
            return f"Error: An unexpected error occurred. Details: {str(e)}"
        
        except:
            print("Some other exception happened.")

In [37]:


def hypothesis_test(data):
    try:
        #  available items for testing
        print("\nAvailable items for testing are:", ", ".join(data.columns))
    

        # Instantiating the Hypothesis class
        tester = Hypothesis(data)
    

         # available test types for user to choose
        print("\nAvailable test types are: one-tailed, two-tailed")


        # Choose type of test (one-tailed or two-tailed)
        test_type = input("\nwhat type of test do you want to perform ?: ").lower()

        if test_type == 'one-tailed':
           
        # User: Choose item to test
            item = input("\nplease enter the name of the item/product you want to test: ").strip()

            # User input: Choose significance level (alpha)
            alpha = float(input("\nplease Enter significance levelfor your test (alpha): "))

            result, t_stat, pvalue, mean_difference, correlation = tester.one_tailed_test(item, alpha)
            
            
        elif test_type == 'two-tailed':
            # User input: Choose items to test
            items = input("\nplease enter the names of the items you want to test (comma-separated): ").split(',')

            # User input: Choose significance level (alpha)
            alpha = float(input("\nEnter significance level (alpha): "))

            result, t_stat, pvalue, mean_difference, correlation = tester.two_tailed_test(items[0], items[1], alpha)
            
            
        
        else:
            result = "Error: Invalid test type. Please choose either 'one-tailed' or 'two-tailed'."
           # correlation = None

        # Print the t-test results
        print(result)

            # Print additional details if available
        if mean_difference and correlation is not None:
            print(f"\nmean Difference between {items[0]} and {items[1]}: {mean_difference:.2f}")
            print(f"\nthe corelation between {items[0]} and {items[1]}: {correlation:.3f}")
            if mean_difference >0:
                print(f"\nthe data constitute significant evidence that the underlying mean No was greater for {items[0]}, by an estimated value of {mean_difference:.3f}. the result suggest that {items[0]} should be preferred")
                #print(f"\nthe corelation between {items[0]} and {items[1]}: {correlation:.3f}")
            else:
                print(f"\nthe data constitute significant evidence that the underlying mean No was greater for {items[1]}, by an estimated value of {abs(mean_difference):.3f}. the result suggest that {items[1]} should be preferred")
                #print(f"\nthe corelation between {items[0]} and {items[1]}: {correlation:.3f}")
            

        # Print the t-statistic and p-value
        print(f"\nt-statistic: {t_stat:.4f}")
        print(f"\npvalue: {pvalue:.9f}")
        
        
          # Output table containing sample size, mean, variance, and Pearson correlation
        stat_table = pd.DataFrame(columns=['Item', 'N', 'Mean', 'Meadian', 'std_deviation', 'Variance', 'min_val', 'max_val'])
        for item in data.columns:
            
            sample_size = len(data[item])
            mean = round(data[item].mean(),3)
            median = round(data[item].median(), 2)
            st_deviation = round(data[item].std(), 2)
            variance = round(data[item].var(),2)
            mini_val = data[item].min()
            max_val = data[item].max()
            stat_table = pd.concat([stat_table, pd.DataFrame({
            'Item': [item],
            'N': [sample_size],
            'Mean': [mean],
            'Meadian': [median],
            'std_deviation' : [st_deviation],
            'Variance': [variance],
            'min_val' : [mini_val],
            'max_val': [max_val]
        })], ignore_index=True)

        print("\nstatistic Table:")
        print(stat_table)
        
    except IndexError:
            return f"Error:invalid items name or index error, please enter the correct item/product names."
        
    except UnboundLocalError:
        return f"UnboundLocalError: Invalid test type. Please choose either 'one-tailed' or 'two-tailed'."
    
    except ValueError:
        return f"ValueError: please enter numeric value and not character."
    
    except:
        print("Some other exception happened.")

In [38]:
hypothesis_test(df)

Available items for testing are: Store, Con1, Con2

Available test types are: one-tailed, two-tailed

what type of test do you want to perform ?: one-tailed

please enter the name of the item/product you want to test: Con1

please Enter significance levelfor your test (alpha): 0.05

 since p_value = 0.000000009 <= 0.05 and 19.9208 > 0, we Reject the null hypothesis. There is a significant positive difference in Con1.

t-statistic: 19.9208

pvalue: 0.000000009

statistic Table:
    Item   N   Mean  Meadian  std_deviation  Variance min_val max_val
0  Store  10    5.5      5.5           3.03      9.17       1      10
1   Con1  10  172.6    172.5          27.39    750.27   132.0   218.0
2   Con2  10  159.4    167.5          28.10    789.38   118.0   197.0