In [1]:
# import pandas for data anlysis and manipulations
import pandas as pd

In [2]:
df = pd.read_sas("bs04retail.sas7bdat")
df.head()

   Store   Con1   Con2
0    1.0  141.0  118.0
1    2.0  184.0  167.0
2    3.0  132.0  137.0
3    4.0  161.0  168.0
4    5.0  176.0  175.0

In [3]:
df.dtypes

Store    float64
Con1     float64
Con2     float64
dtype: object

In [4]:
df['Store'] = df['Store'].astype(int)
df.head()

   Store   Con1   Con2
0      1  141.0  118.0
1      2  184.0  167.0
2      3  132.0  137.0
3      4  161.0  168.0
4      5  176.0  175.0

In [10]:
from Hypothesis_testing_system import Hypothesis
from user_Interface import hypothesis_System_interface

In [6]:
hypothesis = hypothesis_System_interface(df)
hypothesis

Available items for testing are: Store, Con1, Con2

Available test types are: one-tailed, two-tailed

What type of test do you want to perform? (Enter 'one-tailed', 'two-tailed', or 'quit'): two-tailed

Please enter the names of the items you want to test (comma-separated): Con1,Con2

Enter significance level (alpha): 0.05

since p_value = 0.3015 > 0.05, we cannot reject the null hypothesis H0. There is no significant difference between Con1 and Con2. hence, the data does not provide enough evidence to support the claim that there is a significant difference between the two items

Mean Difference between Con1 and Con2: 13.20
Correlation between Con1 and Con2: 0.863
The data constitutes significant evidence that the underlying mean number was greater for Con1, by an estimated value of 13.200. The result suggests that Con1 should be preferred.

T-statistic: 1.0638
P-value: 0.301487919

Statistic Table:
    Item   N   Mean  Median  Std_Deviation  Variance Min_Val Max_Val
0  Store  10    5.5     5.5           3.03      9.17       1      10
1   Con1  10  172.6   172.5          27.39    750.27   132.0   218.0
2   Con2  10  159.4   167.5          28.10    789.38   118.0   197.0

Do you want to perform more operations? (Enter 'yes' to continue or 'no' to quit): y
Exiting the application. Goodbye!